@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700");
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css);
@import url(https://getbootstrap.com/docs/4.0/examples/album/album.css);


/* Global Body Style */
body {
    color: #fff;
    background: #111111;
    font-family: "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    
  }
  

.submit-form {
    position: absolute;
    border: 15px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 575px;
    height: 715px;
    animation: spin 2s linear infinite;
    padding:10px;
    border-radius:10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
    background-color: aquamarine;

}

.form-group{
    padding:10px;
    border-radius:20px;

}

.container {
  min-height: 100vh;
}

#app {
  background: rgb(83, 83, 92);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.long{
  height: 1500px;
  width: 100%;
  background: rgb(224, 203, 203);
}
